<% if logged_in? %>



<div class="center jumbotron">
     <h1>Welcome to the Question Answer</h1>

     <h2>
       This is my admin home page for the
       <a href="http://www.railstutorial.org/">Question Answer</a>
       sample application.
     </h2>

     <%= link_to "Login and Play", login_path, class: "btn btn-lg btn-primary" %>
   </div>

<% else %>

<%= render 'quiz' %>

<% end %>
